In [122]:
## Import Dependencies
import pandas as pd
import matplotlib as plt
import csv
import requests
from config import api_token 
from pprint import pprint

## https://www.ssga.com/us/en/intermediary/etfs/funds/spdr-sp-500-etf-trust-spy#holdings

sp500_df = pd.read_csv('s&p500 - Sheet1.csv')

In [117]:
## Create the DF and get a list of all unique Tickers
sp500_df = sp500_df.dropna()

ticker_list = list(sp500_df['Ticker'])
sp500_df

,Name,Ticker,Identifier,SEDOL,Weight,Sector,Shares Held,Local Currency
0,Apple Inc.,AAPL,3783310,2046251,7.110275,Information Technology,163874670.0,USD
1,Microsoft Corporation,MSFT,59491810,2588173,6.065087,Information Technology,82019920.0,USD
2,Amazon.com Inc.,AMZN,2313510,2000019,2.738040,Consumer Discretionary,98231640.0,USD
3,NVIDIA Corporation,NVDA,67066G10,2379504,1.923625,Information Technology,27105582.0,USD
4,Alphabet Inc. Class A,GOOGL,02079K30,BYVY8G0,1.825088,Communication Services,65626300.0,USD
...,...,...,...,...,...,...,...,...
499,Fox Corporation Class B,FOX,35137L20,BJJMGY5,0.012028,Communication Services,1532395.0,USD
500,Lincoln National Corp,LNC,53418710,2516378,0.009445,Financials,1698362.0,USD
501,First Republic Bank,FRC,33616C10,B4WHY15,0.008411,Financials,2003120.0,USD
502,News Corporation Class B,NWS,65249B20,BBGVT51,0.006133,Communication Services,1341504.0,USD
503,DISH Network Corporation Class A,DISH,25470M10,2303581,0.005319,Communication Services,2706237.0,USD

In [118]:
## We can only do 100 API calls/day. We'll need to break this up and each of us will need to do 100 a day until we get our info
## There are 504 Tickers in the S&P 500
first_hundred_tickers = ticker_list[:100]
second_hundred_tickers = ticker_list[100:200]
third_hundred_tickers = ticker_list[200:300]
fourth_hundred_tickers = ticker_list[300:400]
fifth_hundred_tickers = ticker_list[400:500]
last_tickers = ticker_list[500:]

In [163]:
## We'll need to build our own urls, the config file should have a spot for you to put in your API Kkey from Stock Data

## I don't know if this cell fully works yet, I reached my request limit (which kind of makes me think it worked)



url_pt1 = f'https://api.stockdata.org/v1/data/eod?symbols='
url_pt2 = f'&api_token={api_token}&interval=year&date_from=2013'
## Create Three Functions, one to create the URL, another to request data, and a third to store it
## Then iterate through the lists and 
rows = []
def storeData(data):
    
    info = data['data']
    
    for i in info:
        i['ticker'] = ticker
        rows.append(i)
    
    

def getInfo(ticker):
    request = requests.get(url)
    data = request.json()
    
    storeData(data)

    
def createUrl(ticker):
    url = f"{url_pt1}{ticker}{url_pt2}"
    getInfo(url)


for i in first_hundred_tickers:
      createUrl(i)

https://api.stockdata.org/v1/data/eod?symbols=AAPL&api_token=47teoUhiBowulMrLXIdYF4wMECw8Ja61JjVgp9am&interval=year&date_from=2013

                       date    open    high     low   close       volume
0  2022-01-01T00:00:00.000Z  177.83  182.94  125.87  129.93  22069178302
1  2021-01-01T00:00:00.000Z  133.52  182.13  116.21  177.57  22816340901
2  2020-01-01T00:00:00.000Z   74.06  138.79   53.15  132.69  18560414480
3  2019-01-01T00:00:00.000Z   38.72   73.49   35.50   73.41   7087741112
4  2018-01-01T00:00:00.000Z   42.54   58.37   36.65   39.44   8523558839
5  2017-01-01T00:00:00.000Z   28.95   44.30   28.69   42.31   6811557331
6  2016-01-01T00:00:00.000Z   25.65   29.67   22.37   28.96   9666725519
7  2015-01-01T00:00:00.000Z   27.85   33.64   23.00   26.32  13068421452
8  2014-01-01T00:00:00.000Z   19.85   29.94   17.63   27.60   8747077502
9  2013-01-01T00:00:00.000Z   19.79   20.54   13.75   20.04   3658582500